<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.UsernamePasswordDao">



    <select id="queryByUsernameAndPassword" parameterType="map" resultType="model.UsernamePassword">
        SELECT * FROM username_password
        WHERE username = #{username} AND  password = #{password}
    </select>

    <select id="queryByUsername" parameterType="string" resultType="model.UsernamePassword">
        SELECT * FROM username_password
        WHERE username = #{username}
    </select>


    <insert id="insertUsernamePassword" parameterType="map">
        insert into username_password (username, password) values (#{username},#{password})
    </insert>
</mapper>